body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header, footer {
  background-color: black;
  p {
    color: white;
  }
  margin-bottom: 0.5rem;
}

nav {
  background-color: darkgrey;
  li > a {
    color: white;
  }
  li {
    flex: inline-flex;
  }
}

h1 {
color: white;
}

ul > li {
  list-style-type: none;
}

.form-border {
  border: 2px line;
}

.nav-link {
  color: white;
}
